@model EditUserAdministrationViewModel;

@{
    ViewBag.Title = "Edit User";
}


<div class=" border" style="border-radius:10px;margin-bottom:10px;padding:10px;">
    <h2 class="text-black">Edit User</h2>
    <form method="post" asp-controller="Administration" asp-action="EditUser">

        <div class="mb-3">
            <label asp-for="Id" class="form-label"></label>
            <input asp-for="Id" class="form-control" disabled value="@Model.Id">
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" type="text" class="form-control" value="@Model.UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="text" class="form-control" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <a asp-controller="Administration" asp-action="GetUsers" class="btn btn-danger fw-bold">

            Back
        </a>
        <button type="submit" class="btn btn-success fw-bold">
            Save
        </button>
    </form>
</div>

<div class="d-flex justify-content-start w-100">
    <div class="card border  w-50" style="border-radius:10px; margin-bottom:5px;">
        <h5 class="card-header text-black">Roles</h5>
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var user in Model.Roles)
                {
                    <h6 class="card-text">@user</h6>
                }
            }
            else
            {
                <h6 class="card-text">No Roles</h6>
            }

        </div> <div class="card-footer">
            <a asp-controller="Administration" asp-action="AddInUserRoles" asp-route-userId="@Model.Id" class="btn btn-primary fw-bold">                
                Manage Roles
            </a>
        </div>
    </div>
</div>